<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bouquet</title>
    <style>
        .elem {
            width: 20%;
        }

        .row {
            margin: 3% 0;
        }
    </style>
</head>
<body>
<main layout:fragment="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Bouquet Images</h3>
                        <div class="d-flex flex-wrap">
                            <div th:each="image : ${bouquet.imageUrls}" class="card"
                                 style="width: 18rem; margin: 1% 1%">
                                <img th:src="${image.getValue()}" class="card-img-top"
                                     th:alt="'Image id: ' + ${image.getKey()}">
                                <div class="card-body">
                                    <p class="card-text">Image id: <span th:text="${image.getKey()}"/></p>
                                </div>
                                <div class="card-footer text-center">
                                    <button class="delete-img-btn btn btn-primary" th:data-bouquet-id="${bouquet.id}"
                                            th:data-image-id="${image.getKey()}">Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                        <form th:action="@{/api/admin/bouquets/image/{id}(id=${bouquet.id})}" method="post"
                              id="uploadForm" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="imageInput" class="form-label">Choose Image(s)</label>
                                <input type="file" id="imageInput" name="images" multiple class="form-control">
                            </div>
                            <button class="btn btn-primary" type="submit">Upload</button>
                        </form>
                    </div>
                </div>

                <div th:if="${bouquet}">
                    <div class="row">
                        <div class="col-md-10">
                            <form th:action="@{/api/admin/bouquets/{id}(id=${bouquet.id})}" th:method="POST"
                                  th:object="${bouquet}">
                                <h3>Bouquet Details</h3>

                                <p>
                                    <strong>Bouquet ID: </strong>
                                    <input th:field="*{id}" class="form-control" disabled>
                                </p>

                                <p>
                                    <strong>Bouquet Item Code: </strong>
                                    <input th:field="*{itemCode}"/>
                                </p>

                                <p>
                                    <strong>Bouquet Name: </strong>
                                    <input th:field="*{name.id}" type="hidden">
                                    <input th:field="*{name.originalText}" class="form-control"> <br>
                                    <input th:field="*{name.originalLanguageId}" type="hidden">
                                    <input th:field="*{name.originalLanguageName}" type="hidden">
                                </p>

                                <p>
                                    <strong>Bouquet translations: </strong> <br>
                                <div th:each="translation, itemStat : *{name.translation}"
                                     class="col-sm-10 col-sm-offset-2">
                                    <label th:text="'Language: ' + *{name.translation[__${itemStat.index}__].translationEmbeddedIdLanguageName}"
                                           class="col-sm-6 control-label"/>
                                    <input th:field="*{name.translation[__${itemStat.index}__].translationEmbeddedIdLanguageId}"
                                           type="hidden"/>
                                    <input th:field="*{name.translation[__${itemStat.index}__].translationEmbeddedIdTextContentId}"
                                           type="hidden"/>
                                    <input th:field="*{name.translation[__${itemStat.index}__].translationEmbeddedIdLanguageName}"
                                           type="hidden"/>
                                    <input th:field="*{name.translation[__${itemStat.index}__].text}"
                                           class="form-control"/> <br>
                                </div>
                                </p>

                                <p>
                                    <strong>Bouquet Quantity: </strong>
                                    <input th:field="*{availableQuantity}"/>
                                </p>

                                <p>
                                    <strong>Bouquet Sold Quantity: </strong>
                                    <input th:field="*{soldQuantity}" disabled/>
                                </p>

                                <h3>Bouquet sizes</h3>
                                <table id="sizesTable" class="table table-stripped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Sizes</th>
                                        <th>Default Price</th>
                                        <th>Is Sale</th>
                                        <th>Discount Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item, itemState: ${bouquet.sizes}">
                                        <td>
                                            <input class="sizeId"
                                                   th:field="*{sizes[__${itemState.index}__].id}"/>
                                        </td>
                                        <td>
                                            <input class="sizeName" th:field="*{sizes[__${itemState.index}__].size}"
                                                   disabled>
                                        </td>
                                        <td>
                                            <input class="form-control defaultPrice"
                                                   th:field="*{sizes[__${itemState.index}__].defaultPrice}"/>
                                        </td>
                                        <td>
                                            <select class="form-control isSale"
                                                    th:field="*{sizes[__${itemState.index}__].isSale}">
                                                <option value="true" th:selected="${item.isSale}">True</option>
                                                <option value="false" th:selected="${!item.isSale}">False</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input class="form-control discountPrice"
                                                   th:field="*{sizes[__${itemState.index}__].discountPrice}"/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="text-center">
                                    <button class="btn btn-primary" style="font-size: large">Update General Info
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Bouquet flowers</h3>
                            <form th:action="@{/api/admin/bouquets/{id}/flowers(id=${bouquet.id})}" th:method="POST">
                                <table id="flowerTable" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-start">ID</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-end">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item : ${bouquet.flowers}">
                                        <td class="flowerId text-start" th:text="${item.id}"></td>
                                        <td class="text-center elem">
                                            <select class="form-control" name="flowerIds">
                                                <option th:each="flower : ${item}"
                                                        th:value="${flower.id}"
                                                        th:text="${flower.name.originalText}" selected>
                                                </option>
                                                <option th:each="flower : ${flowers}"
                                                        th:unless="${flower.name.originalText == item.name.originalText}"
                                                        th:value="${flower.id}"
                                                        th:text="${flower.name.originalText}">
                                                </option>
                                            </select></td>
                                        <td class="text-end">
                                            <button class="delete-btn btn btn-primary"
                                                    th:data-bouquet-id="${bouquet.id}"
                                                    th:data-flower-id="${item.id}">Delete
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-primary" type="button" id="addFlowerButton">Add Flower</button>
                                <button class="btn btn-primary" type="submit">Update Flowers</button>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Bouquet colors</h3>
                            <form th:action="@{/api/admin/bouquets/{id}/colors(id=${bouquet.id})}" th:method="POST">
                                <table id="colorTable" class="table table-striped">
                                    <thead>
                                    <tr class="table-head">
                                        <th class="text-start">ID</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-end">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item : ${bouquet.colors}">
                                        <td class="colorId text-start" th:text="${item.id}"></td>
                                        <td class="text-center elem"><select class="form-control" name="colorIds">
                                            <option th:each="color : ${item}"
                                                    th:value="${color.id}"
                                                    th:text="${color.name.originalText}" selected>
                                            </option>
                                            <option th:each="color : ${colors}"
                                                    th:unless="${color.name.originalText == item.name.originalText}"
                                                    th:value="${color.id}"
                                                    th:text="${color.name.originalText}">
                                            </option>
                                        </select></td>
                                        <td class="text-end">
                                            <button class="delete-btn btn btn-primary"
                                                    th:data-bouquet-id="${bouquet.id}"
                                                    th:data-color-id="${item.id}">Delete
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-primary" type="button" id="addColorButton">Add Flower</button>
                                <button class="btn btn-primary" type="submit">Update Colors</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script layout:fragment="script">
    document.addEventListener('click', function (event) {
        // Check if the clicked element is the addFlowerButton
        if (event.target.id === 'addFlowerButton') {
            // Clone the last row of the table
            var newRow = document.querySelector('#flowerTable tbody tr:last-child').cloneNode(true);

            // Clear the selected value of the dropdown in the new row
            newRow.querySelector('select').selectedIndex = 0;

            // Remove selected options that are already selected in other rows
            var selectedOptions = [];
            document.querySelectorAll('#flowerTable tbody select').forEach(function (select) {
                selectedOptions.push(select.value);
            });

            newRow.querySelectorAll('option').forEach(function (option) {
                if (selectedOptions.includes(option.value)) {
                    option.remove();
                }
            });

            // Set the ID of the new row to the selected value
            var selectedValue = newRow.querySelector('select').value;
            newRow.querySelector('.flowerId').textContent = selectedValue;

            // Append the new row to the table
            document.querySelector('#flowerTable tbody').appendChild(newRow);
        } else if (event.target.id === 'addColorButton') {
            // Clone the last row of the table
            var newRow = document.querySelector('#colorTable tbody tr:last-child').cloneNode(true);

            // Clear the selected value of the dropdown in the new row
            newRow.querySelector('select').selectedIndex = 0;

            // Remove selected options that are already selected in other rows
            var selectedOptions = [];
            document.querySelectorAll('#colorTable tbody select').forEach(function (select) {
                selectedOptions.push(select.value);
            });

            newRow.querySelectorAll('option').forEach(function (option) {
                if (selectedOptions.includes(option.value)) {
                    option.remove();
                }
            });

            // Set the ID of the new row to the selected value
            var selectedValue = newRow.querySelector('select').value;
            newRow.querySelector('.colorId').textContent = selectedValue;

            // Append the new row to the table
            document.querySelector('#colorTable tbody').appendChild(newRow);
        } else if (event.target.classList.contains('delete-btn')) {
            // Find the closest row (tr) containing the delete button
            var row = event.target.closest('tr');

            // Remove the row from the table
            row.remove();
        }
    });


    document.addEventListener('change', function (event) {
        // Check if the changed element is a select element inside the flower table
        if (event.target.matches('#flowerTable select')) {
            // Get the selected flower's ID from the selected option
            var selectedFlowerId = event.target.value;

            // Find the corresponding <td> element with class "flowerId" in the same row
            var flowerIdCell = event.target.closest('tr').querySelector('.flowerId');

            // Update the content of the <td> element with the selected flower's ID
            flowerIdCell.textContent = selectedFlowerId;
        } else if (event.target.matches('#colorTable select')) {
            // Check if the changed element is a select element inside the color table
            if (event.target.matches('#colorTable select')) {
                // Get the selected color's ID from the selected option
                var selectedColorId = event.target.value;

                // Find the corresponding <td> element with class "colorId" in the same row
                var colorIdCell = event.target.closest('tr').querySelector('.colorId');

                // Update the content of the <td> element with the selected color's ID
                colorIdCell.textContent = selectedColorId;
            }
        }
    });


    // Add event listeners to discount percentage fields to detect changes
    document.querySelectorAll('#sizesTable tbody .discountPercentage').forEach(function (discountInput) {
        discountInput.addEventListener('change', function () {
            // Retrieve the parent row (tr element) of the discount percentage field
            var row = this.closest('tr');
            // Get the default price and discount price elements within the same row
            var defaultPriceInput = row.querySelector('.defaultPrice');
            var discountPriceInput = row.querySelector('.discountPrice');

            // Calculate new discount price based on the changed discount percentage
            var discount = parseFloat(this.value);
            var defaultPrice = parseFloat(defaultPriceInput.value);
            var discountedPrice = defaultPrice * (1 - (discount / 100));

            // Update the discount price field value
            discountPriceInput.value = Math.round(discountedPrice);

            // Calculate and update the discount percentage field value
            var discountPercentage = Math.round(((defaultPrice - discountedPrice) / defaultPrice) * 100);
            row.querySelector('.discountPercentage').value = discountPercentage;

            // Log the line number of the changed field
            var lineNumber = Array.from(row.parentNode.children).indexOf(row) + 1;
            console.log('Discount percentage changed in row ' + lineNumber);
        });
    });

    // Add event listeners to discount price fields to detect changes
    document.querySelectorAll('#sizesTable tbody .discountPrice').forEach(function (discountPriceInput) {
        discountPriceInput.addEventListener('change', function () {
            // Retrieve the parent row (tr element) of the discount price field
            var row = this.closest('tr');
            // Get the default price and discount percentage elements within the same row
            var defaultPriceInput = row.querySelector('.defaultPrice');
            var discountInput = row.querySelector('.discountPercentage');

            // Calculate new discount percentage based on the changed discount price
            var defaultPrice = parseFloat(defaultPriceInput.value);
            var discountedPrice = parseFloat(this.value);
            var discountPercentage = Math.round(((defaultPrice - discountedPrice) / defaultPrice) * 100);

            // Update the discount percentage field value
            discountInput.value = discountPercentage;

            // Log the line number of the changed field
            var lineNumber = Array.from(row.parentNode.children).indexOf(row) + 1;
            console.log('Discount price changed in row ' + lineNumber);
        });
    });

    // Add event listeners to default price fields to detect changes
    document.querySelectorAll('#sizesTable tbody .defaultPrice').forEach(function (defaultPriceInput) {
        defaultPriceInput.addEventListener('change', function () {
            // Retrieve the parent row (tr element) of the default price field
            var row = this.closest('tr');
            // Get the discount percentage and discount price elements within the same row
            var discountInput = row.querySelector('.discountPercentage');
            var discountPriceInput = row.querySelector('.discountPrice');

            // Calculate new discount price based on the changed default price
            var defaultPrice = parseFloat(this.value);
            var discount = parseFloat(discountInput.value);
            var discountedPrice = defaultPrice * (1 - (discount / 100));

            // Update the discount price field value
            discountPriceInput.value = Math.round(discountedPrice);

            // Log the line number of the changed field
            var lineNumber = Array.from(row.parentNode.children).indexOf(row) + 1;
            console.log('Default price changed in row ' + lineNumber);
        });
    });

    // Add event listeners to isSale fields to detect changes
    document.querySelectorAll('#sizesTable tbody .isSale').forEach(function (isSaleSelect) {
        isSaleSelect.addEventListener('change', function () {
            // Retrieve the parent row (tr element) of the isSale field
            var row = this.closest('tr');
            // Get the default price, discount percentage, and discount price elements within the same row
            var defaultPriceInput = row.querySelector('.defaultPrice');
            var discountInput = row.querySelector('.discountPercentage');
            var discountPriceInput = row.querySelector('.discountPrice');

            // Check if isSale is true or false
            var isSaleValue = this.value === 'true';

            // Update discount fields based on isSale value
            if (isSaleValue) {
                // Set discount percentage to 0
                discountInput.value = '0';
                // Set discount price to default price
                discountPriceInput.value = defaultPriceInput.value;
            } else {
                // Clear discount percentage
                discountInput.value = '';
                // Clear discount price
                discountPriceInput.value = '';
            }

            // Log the line number of the changed field
            var lineNumber = Array.from(row.parentNode.children).indexOf(row) + 1;
            console.log('isSale field changed in row ' + lineNumber);
        });
    });

    // Handling the entire form submit event
    document.getElementById("submitFormBtn").addEventListener("click", function (event) {
        event.preventDefault();

        var bouquetDto = {
            id: parseInt(document.getElementById("id").value),
            itemCode: document.getElementById("itemCode").value,
            name: document.getElementById("name").value,
            quantity: parseInt(document.getElementById("quantity").value),
            soldQuantity: parseInt(document.getElementById("soldQuantity").value),
            flowers: [],
            colors: [],
            sizes: []
        };

        // Extract flower data from table
        var flowerRows = document.querySelectorAll("#flowerTable tbody tr");
        flowerRows.forEach(function (row) {
            var id = parseInt(row.querySelector(".flowerId").textContent);
            var name = row.querySelector("select[name='flower_name'] option:checked").textContent;
            bouquetDto.flowers.push({id: id, name: name});
        });

        var colorRows = document.querySelectorAll("#colorTable tbody tr");
        colorRows.forEach(function (row) {
            var id = parseInt(row.querySelector(".colorId").textContent);
            var name = row.querySelector("select[name='color_name'] option:checked").textContent;
            bouquetDto.colors.push({id: id, name: name});
        });

        var sizeRows = document.querySelectorAll("#sizesTable tbody tr");
        sizeRows.forEach(function (row) {
            var id = parseInt(row.querySelector(".sizeId").textContent);
            var size = row.querySelector(".sizeName").textContent;
            var defaultPrice = parseFloat(row.querySelector("input[name='defaultPrice']").value);
            var isSale = row.querySelector("select[name='isSale']").value === 'true';
            var discount = parseFloat(row.querySelector("input[name='discount']").value);
            var discountPrice = parseFloat(row.querySelector("input[name='discountPrice']").value);

            bouquetDto.sizes.push({
                id: id,
                size: size.toUpperCase(),
                defaultPrice: defaultPrice,
                isSale: isSale,
                discount: discount,
                discountPrice: discountPrice
            });
        });

        sendDataToController(bouquetDto);
    });

    function sendDataToController(bouquetDto) {
        const lang = getLanguageFromCookie();
        // AJAX request to send bouquetDto to the controller
        var xhr = new XMLHttpRequest();
        var url = "/api/admin/bouquets/" + bouquetDto.id + "?lang=" + lang;
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    console.log("Data sent successfully");
                    window.location.reload();
                } else {
                    console.error("Error:", xhr.status);
                }
            }
        };

        xhr.send(JSON.stringify(bouquetDto));
    }

    // Submitting a request to remove a photo
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButtons = document.querySelectorAll(".delete-img-btn");

        deleteButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                const bouquetId = this.getAttribute("data-bouquet-id");
                const imageId = this.getAttribute("data-image-id");

                // Confirm before sending the delete request
                if (confirm("Are you sure you want to delete this image?")) {
                    fetch(`/api/admin/bouquets/` + bouquetId + '/' + imageId, {
                        method: "DELETE"
                    }).then(response => {
                        if (response.ok) {
                            location.reload();
                        } else {
                            console.error("Failed to delete image");
                        }
                    }).catch(error => {
                        console.error("Error:", error);
                    });
                }
            });
        });
    });
</script>
</body>
</html>
