<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Login</title>
</head>
<body>
<main layout:fragment="main">
  <div class="row">
    <form class="form-signin pt-3 col-lg-6 mx-auto" method="POST" th:action="@{/login}">
      <span class="form-massage" th:text="${message}"></span>
      <div class="mb-3">
        <label for="username" class="form-label">Email address</label>
        <input name="username" id="username" type="email" class="form-control" placeholder="Email"
               autofocus="true" aria-describedby="emailHelp"/>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="password">
        <span class="has-error" th:text="${error}"></span>
      </div>
      <button class="btn btn-lg btn-primary btn-block form-control" type="submit">Log In</button>
      <h4 class="text-center"><a class="text-href" href="/registration">Create an account</a></h4>
    </form>
  </div>
</main>
</body>
</html>
